// All color definitions in one place
$background-color:  #331707;
$background-color-light: #CDB9AB;
; // Beige color matching the image
$text-color:#FFE9D9;
$primary-color: #331707; // A warm, inviting color for buttons and highlights   
$border-radius: 4px;
$primary-text-color: #ffffff;
$text-secondary-color: rgba(255, 255, 255, 0.9);

// Font settings
$font-family: "Times New Roman", Times, serif;
$font-family-alt: "inter";
$base-font-size: 16px;
$title-font-size: 60px;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;